/*https://www.w3schools.com/css/css_selectors.asp*/

/*Beginning with a dot indicates a general class*/
/*Element.class is class for specific element*/
/*div.para1 {*/
  text-align: center;
  color: red;
}


p.para1 {
    text-align: end;
    color: cadetblue;
}

h1 {
    text-align: center;
}

/*Let's try to make section headers*/
h2 {
    border-radius: 5px 15px 15px 5px;
    background-color: azure;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: lightblue;
    padding-left: 10px;
}

/*This stacks things in this class vertically*/
.objective-container {
    display: flex;
    flex-direction: column;
    background-color:rgba(255,0,255,0.15);
    border-radius: 15px 15px 15px 15px;
    margin: 20px;
}

div.objectives {
/*    text-indent: 2em;*/
    background-color: rgba(255,0,255,0.8);
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 5px;
}

/*Probably the way to do this is to make a single container, but then with top and bottom parts*/
.definition-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(252,136,3,0.15);
    border-radius: 15px 15px 15px 15px;
    margin: 20px;
    text-indent: 0.5em;
    font-size: 15px;
}

div.definition {
    background-color: rgba(252,136,3,0.8);
    font-weight: bold;
    font-style: italic;
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: 20px;
}

.exercise-container {
    display: flex;
    flex-direction: column;
    background-color:rgba(14,143,23,0.15);
    border-radius: 15px 15px 15px 15px;
    margin: 10px;
}

div.exercise {
    background-color: rgba(14,143,23,0.8);
    font-weight: bold;
    font-style: italic;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    padding-left: 15px;
	width: 95%;
    margin-bottom: 5px;
    font-size: 20px;
}

.latex {
    border-style: inset;
    background-color: rgb(255,255,240, 0.5);
}



/*General info box*/
.infobox {
    padding: 1em 1em 1em 2em;
    margin-bottom: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background: #f5f5f5 5px center/3em no-repeat;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
}
/*Append this and similar to infobox*/
.hazard {
  background-image: url("images/hazard.png");
}

.think {
    background-image: url("images/thinkaboutit.png")
}

.book .book-body .page-wrapper .page-inner{max-width:1000px;margin:0 auto;padding:20px 0 40px}
